page-editProfile {
    .img-profile {
        border-radius: 50%;
        width: 100px;
        height: 100px
      }

    .logout-button{
      height: 20px;
      width: 100px;
    }
    .contact-info{
      font-size: 12px;
      color: #d3d3d3;

    }
    .profile-info{
      position: relative;
      top: -30px;
    }

    .container-content {
      justify-content: center;
      align-items: center;

    }
    .container-card {
      margin-left: 0px;
      width: 100%;
      box-shadow: none ;
    }
    .container-card-header {
      height: 55px;
    }
    .container-card-content {
      align-items: center;

    }
    .row-card-header {
      align-items: center;
      justify-content: space-between
    }
    .container-card-top{
      position: relative;
      top: -40px;
    }
    .row-profile-info {
      align-items: center
    }
    .user-name {
      padding-inline-start: 4px
    }
    .price-title {
      font-size: 18px;
      font-weight: 600;
    }
    .description-subtitle {
       font-size: 14px;
       font-weight: 400;
    }
    .button-call {
      background-color: #2ecc71;
      width: 50%;
      box-shadow: none;
    }
    .button-view {
      background-color: #3498db;
      width: 40%;
      box-shadow: none;
    }
    .row-container-info-buttons {
      width: 100%;
    }

    .container-content {
      justify-content: center;
      align-items: center;
     
    }
    .container-card {
      margin-left: 0px;
      width: 100%;
      box-shadow: none ;
    }
    .container-card-header {
      height: 55px;
    }
    .container-card-content {
      align-items: center;
     
    }
    .row-card-header {
      align-items: center;
      justify-content: space-between
    }
    .row-profile-info {
      align-items: center
    }
    .img-profile {
      border-radius: 50%
    }
    .user-name {
      padding-inline-start: 4px
    }
    .price-title {
      font-size: 18px;
      font-weight: 600;
    }
    .description-subtitle {
       font-size: 14px;
       font-weight: 400;
    }
    .button-call {
      background-color: #2ecc71;
      width: 50%;
      box-shadow: none;
    }
    .button-view {
      background-color: #3498db;
      width: 40%;
      box-shadow: none;
    }
    .row-container-info-buttons {
      width: 100%;
    }

}
