page-registerStepTwo {
    
    .input-label {
        text-align: left;
        padding-left: 15px;
        color: rgba(64,64,64,1);
        margin-bottom: 0px;
        margin-top: 12px;
      }

    .img-container {
      width: 100%;
    }  

    .img-profile {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        //align-self: center
        margin-left: auto;
        margin-right: auto;
      }

}
