page-add {
    button.media {
        height: 100% !important;
        padding: 0 !important;
        border-radius: 10%;
    }

    button.media.add {
        min-width:80px;
        min-height:80px;
    }

}
