page-description {
  .container-content {
    align-items: center;
   
  }
  .container-card {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    box-shadow: none ;
  }
  .container-card-header {
    height: 55px;
  }
  .container-card-content {
    align-items: center;
   
  }
  .row-card-header {
    align-items: center;
    justify-content: space-between
  }
  .row-profile-info {
    align-items: center
  }
  .img-profile {
    border-radius: 50%
  }
  .user-name {
    padding-inline-start: 4px
  }
  .price-title {
    font-size: 18px;
    font-weight: 600;
    align-self: flex-end
  }
  .description-subtitle {
     font-size: 14px;
     font-weight: 400;
  }
  .button-call {
    width: 80%;
    box-shadow: none;
  }
  .button-view {
    background-color: #3498db;
    width: 40%;
    box-shadow: none;
  }
  .row-container-info {
    width: 100%;
    background-color: blue;
  }
  .icon-info {
    margin-right: 8px;
  }
  .row-info-header {
    align-items: center;
    justify-content: space-between;
  }
}
